<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Books</title>
</head>

<body>
<div class="container">
 <h3>Book Directory</h3>
    <hr>

    <p class="h4 mb-4">Save New Book</p>
 <form th:action="@{/books/save}"
       th:object="${books}" method="POST">

     <!-- Add hidden form field to handle update -->
     <input type="hidden" th:field="*{bookId}" />

     <input type="text" th:field="*{bookName}"
            class="form-control mb-4 col-4" placeholder="book name">

     <input type="text" th:field="*{bookAuthor}"
            class="form-control mb-4 col-4" placeholder="book author">

     <input type="text" th:field="*{subject}"
            class="form-control mb-4 col-4" placeholder="subject">

     <button type="submit" class="btn btn-info col-2">Save</button>

 </form>
 <hr>
 <a th:href="@{/}">Back to Home Page</a>
</div>
</body>
</html>